<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/lobby_style.css}">
</head>
<body>
<div class="container">
  <div class="social-links">
    <ul>
      <li><a href="https://github.com/NichiporukRoman" target="_blank">GitHub</a></li>
      <li><a href="https://vk.com/nichufromhell" target="_blank">VK</a></li>
      <li><a href="https://www.linkedin.com/in/roman-nichiporuk-a001022b1/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
  <h2>Explorandum terram</h2>
  <h3><span th:text="${username}"></span></h3>

  <div class="tile" onclick="handleClick('Victorian', 'lobby')">Victorian</div>

  <script type="text/javascript" th:src="@{/js/handleTileClick.js}"></script>
</div>
</body>
</html>