<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/registration_style.css}">
</head>
<body>
<div class="container">
  <h2>Login</h2>
  <form th:method="Post" th:action="@{/loginHandler}">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="social-links">
    <ul>
      <li><a href="https://github.com/NichiporukRoman" target="_blank">GitHub</a></li>
      <li><a href="https://vk.com/nichufromhell" target="_blank">VK</a></li>
      <li><a href="https://www.linkedin.com/in/roman-nichiporuk-a001022b1/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
</body>
</html>